<!DOCTYPE html>
<html lang="en"
  layout:decorate="~{layouts/study}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="contents">

        <div id="prompt-meta-container">

            <div id="title-container" class="mt-4">
                <span class="text-2xl font-bold">특산요리 추천 프롬프트</span>
            </div>

            <div id="prompt-form-container">

                <form class="flex flex-col my-2 mx-2" th:method="post">


                    <div id="btn-container" class="mt-4 w-full">
                        <button class="btn btn-soft">
                            제출
                        </button>
                    </div>

                </form>

            </div>

        </div>

        <div id="prompt-contents-container" class="mt-8">

            <div id="content-title-container">
                <span class="text-2xl font-bold">추천 로컬푸드</span>
            </div>

            <div id="contents-container">


            </div>

        </div>

    </div>
</body>
</html>